@font-face {
  font-family: "HankenGrotesk";
  font-weight: 100 900;
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

/* hsla(0, 100%, 67%, 0.2);
hsla(39, 100%, 56%, 0.2);
hsla(166, 100%, 37%, 0.2);
hsla(234, 85%, 45%, 0.2); */
/**************/
/* General */
html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "HankenGrotesk", sans-serif;
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.flex {
  display: flex;
}

.main-container {
  min-height: 100vh;
  place-items: center;
}

.result-summary-container {
  box-shadow: 0 0.8rem 1.6rem hsla(241, 100%, 89%, 0.5);
  border-radius: 45px;
}

.heading-primary,
.heading-secondary {
  font-weight: 800;
  font-size: 2.8rem;
}

.heading-primary {
  color: hsl(241, 100%, 89%);
}

.heading-secondary {
  color: hsl(224, 30%, 27%);
}

/**************/
/* RESULT */
.result-container {
  flex: 0 1 50%;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  border-radius: 45px;
  padding: 5.4rem 0rem;
  justify-content: space-between;

  color: hsl(0, 0%, 100%);
  background-image: linear-gradient(
    to bottom,
    hsla(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

.score {
  font-size: 7.2rem;
  font-weight: 700;
}

.score-index {
  display: block;
  font-size: 1.8rem;
  color: hsl(241, 100%, 89%);
}

.result-score {
  position: relative;
  z-index: 1;
}

.result-score::before {
  content: "";
  display: block;

  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.result-score::before {
  width: 60%;
  /* height: 60%; */
  /* 60% of parent's width */
  padding-bottom: 60%;
  background-image: repeating-linear-gradient(
    to bottom,
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  z-index: -2;
}

.result-description {
  flex-direction: column;
  gap: 0.8rem;
  font-weight: 500;
}

.score-class {
  font-size: 3.6rem;
  font-weight: 700;
}

.score-description {
  font-size: 1.8rem;
  width: 55%;
  margin: 0 auto;
  color: hsl(241, 100%, 89%);
}

/**************/
/* SUMMARY */

.summary-container {
  flex: 0 1 50%;
  flex-direction: column;
  gap: 2rem;
  padding: 5.4rem 0rem;
  justify-content: space-between;
}

.sub-heading {
  padding: 0 4.8rem 0 4.8rem;
  margin-bottom: 2.4rem;
}

.summary-breakdown-container {
  flex-direction: column;
  font-size: 1.8rem;
  font-weight: 700;
  gap: 1.4rem;
  padding: 0 4.8rem 0 4.8rem;
  margin-bottom: 2.4rem;
}

.summary {
  padding: 1.8rem;
  border-radius: 8px;
}

.summary-score {
  justify-self: end;
  color: hsl(224, 30%, 27%);
}

.summary-score-index {
  color: hsla(224, 30%, 27%, 0.5);
}

.reaction,
.memory,
.verbal,
.visual {
  align-items: center;
  gap: 1rem;
}

.reaction {
  color: hsl(0, 100%, 67%);
}

.memory {
  color: hsl(39, 100%, 56%);
}

.verbal {
  color: hsl(166, 100%, 37%);
}

.visual {
  color: hsl(234, 85%, 45%);
}

.memory-icon {
  align-self: center;
}

.summary-reaction {
  background-color: hsla(0, 100%, 67%, 0.08);
}

.summary-memory {
  background-color: hsla(39, 100%, 56%, 0.08);
}

.summary-verbal {
  background-color: hsla(166, 100%, 37%, 0.08);
}

.summary-visual {
  background-color: hsla(234, 85%, 45%, 0.08);
}

.action-button {
  padding: 0 4.8rem 0 4.8rem;
}

.btn {
  font-size: 1.8rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background-color: hsl(224, 30%, 27%);
  padding: 2.2rem;
  min-width: 100%;
  border: none;
  border-radius: 55px;
  transition: all 0.3s;
}

.btn:active {
  background-image: linear-gradient(
    to bottom,
    hsla(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
  transition: all 0.3s;
}

.attribution {
  margin-top: 2.4rem;
  text-align: center;
}

@media (max-width: 24em) {
  html {
    font-size: 56.25%;
  }

  .result-summary-container {
    flex-direction: column;
    border-radius: 0;
    box-shadow: none;
  }

  .main-container {
    place-items: normal start;
  }

  /****************/
  /* RESULT */
  .result-container {
    border-radius: 0 0 45px 45px;
    padding: 4.8rem 0rem;
  }

  .result-score::before {
    width: 40%;
    /* height: 60%; */
    /* 60% of parent's width */
    padding-bottom: 40%;
    background-image: repeating-linear-gradient(
      to bottom,
      hsla(252, 100%, 67%, 0.8),
      hsla(241, 81%, 54%, 0.5)
    );
    z-index: -2;
  }

  .score-description {
    width: 70%;
  }

  /****************/
  /* SUMMARY */
  .summary-container {
    padding: 2.4rem 0 4.8rem 0;
  }

  .sub-heading {
    padding: 0 2.4rem 0 2.4rem;
    margin-bottom: 1.2rem;

    font-weight: 500;
  }

  .summary-breakdown-container {
    padding: 0 2.4rem 0 2.4rem;
  }

  .action-button {
    padding: 0 2.4rem 0 2.4rem;
  }

  /***********************/
  /*Attribution*/
  .attribution {
    margin-top: 0.2rem;
    padding-bottom: 0.8rem;
    text-align: center;
  }
}
